.hide { display: none; }
.disable { pointer-events: none; }
.unselectable { user-select: none; }
:-webkit-full-screen { width: 50%; top: 0px; z-index: -100; background: none; }
.time-display, .duration-display { padding: 11px; color: white; font-weight: normal; font-size: 0.9em; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
.time-display { float: left; }
.duration-display { float: right; }
.live-icon { cursor: pointer; }
.live-icon.live { pointer-events: none; cursor: default; color: red !important; }
.btn-play-pause { float: left; padding: 9px 10px; cursor: pointer; }
.control-icon-layout { float: right; padding: 9px 10px; cursor: pointer; }
.btn-fullscreen { margin-right: 10px; }
.volumebar { float: right; width: 70px; }
.video-controller { min-height: 35px; z-index: 2147483646; }
.video-controller-fullscreen { position: fixed; z-index: 2147483647; width: 100%; bottom: 0px; left: 0px; }
.menu, .video-controller { background-color: black; }
.menu-item-unselected, .menu-item-selected { font-weight: normal; font-size: 0.9em; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
.menu-item-unselected { color: white; }
.menu-item-over, .menu-item-selected { background-color: white; color: black; }
.menu-sub-menu-title { background-color: rgb(25, 25, 25); padding-left: 2px; font-weight: bold; font-size: 1em; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
.menu-item-selected { opacity: 0.7; }
.menu ul { list-style-type: none; padding: 0px; margin: 0px; }
.menu li { padding: 0px 10px; cursor: pointer; }
.menu { position: absolute; }
#bitrateMenu .menu-sub-menu-title { min-width: 150px; }
@font-face { font-family: icomoon; src: url("icomoon.ttf") format("truetype"); font-weight: normal; font-style: normal; }
.icon-play, .icon-pause, .icon-caption, .icon-mute-off, .icon-mute-on, .icon-fullscreen-enter, .icon-fullscreen-exit, .icon-tracks, .icon-bitrate { font-family: icomoon; font-size: 20px; color: white; text-shadow: none; -webkit-font-smoothing: antialiased; }
.icon-fullscreen-enter::before { content: ""; }
.icon-fullscreen-exit::before { content: ""; }
.icon-play::before { content: ""; }
.icon-pause::before { content: ""; }
.icon-mute-on::before { content: ""; }
.icon-mute-off::before { content: ""; }
.icon-caption::before { content: ""; }
.icon-bitrate::before { content: ""; }
.icon-tracks::before { content: ""; }
.seekContainer { display: flex; overflow: hidden; }
input[type="range"] { appearance: none; -webkit-tap-highlight-color: rgba(255, 255, 255, 0); height: 14px; border: none; margin: 12px 5px; padding: 1px 2px; border-radius: 5px; background: rgb(35, 37, 40); box-shadow: rgb(13, 14, 15) 0px 1px 0px 0px inset, rgb(58, 61, 66) 0px -1px 0px 0px inset; outline: none; }
input[type="range"]::-webkit-slider-thumb { appearance: none; width: 15px; height: 8px; border: none; border-radius: 2px; background-color: rgb(0, 150, 215); }
.thumbnail-container { position: absolute; text-align: center; }
.thumbnail-elem { position: relative; box-shadow: rgb(0, 0, 0) 0px 0px 0.9em; transform-origin: center bottom; }
.thumbnail-time-label { position: relative; bottom: 1.8em; display: table; margin: 0px auto; padding: 2px 5px; color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.7); font-size: 12px; font-weight: bold; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
.seekbar-complete { width: 50%; height: 7px; margin-top: 16px; background: rgb(153, 154, 153); position: relative; overflow: hidden; }
.seekbar-buffer { position: absolute; left: 0px; top: 0px; width: 0%; height: 7px; background: lightgray; }
.seekbar-play { position: absolute; left: 0px; top: 0px; width: 0%; height: 7px; background: rgb(0, 150, 215); }
